{{ define "main" }}
  {{ .Content }}
   <div class="title">
  {{ $pages := where .Site.RegularPages "Section" "posts" | first 5 }}
  {{ range $pages }}
  <div class="header__inline">
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <a href="{{ .RelPermalink }}"><h4>{{ .LinkTitle }}</h4></a> - <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  </div>
  <p style="padding: 0em 0px 0px 2em">
  </p>
    <!--{{ .Summary }}-->
  {{ end }}
</div>
{{ end }}
