<header>
{{ $currentPage := . }}
<nav>
    <ul>
    <div class="nav-left">
            <li><a href="/" 
{{if $currentPage.IsHome}}
  class="active"
{{ end }}
>{{ site.Title }}</a></li>
            <!--<li><a href=".">{{ lower .Title }}</a></li>-->
    </div>
    <div class="nav-right">
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}"
                   {{ with .Page }}
                    {{if (.Eq $currentPage)}}
                    class="active"
                    {{ end }}
                    {{end}}
                    >{{ .Name }}</a></li>
            {{ end }}
    </div>
        </ul>
</nav>
</header>
<!--{{ partial "menu.html" (dict "menuID" "main" "page" .) }}-->
